/* media query */
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 768px) {
	header {
		height: 50px;
		box-sizing: border-box;
		overflow: hidden;
	}
	hr {
	width: 100px;
	height: 5px;
	}
	header .text {
		display: flex;
		flex-direction: column;
		width: 100px;
		justify-content: center;
		padding: 0px 0px;
		position: relative;
		top: 20px;
	}
	header .text h4 {
		font-size: 14px;
		line-height: 10px;
		font-weight: bold;
		margin-left: 10px;
	}
	header ul {
		display: none;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	nav .harmburger {
		display: block;
		padding-top: 0px;
		margin-top: 0px;
		display: inline;
		position: relative;
		bottom: 10px;
	}
	i {
		color: #ffffff;
	}
	.heroarea {
		height: 530px;
		padding-top: 48px;
		position: relative;
		overflow: hidden;
	}
	.heroarea h1 {
		font-size: 24px;
		line-height: 36px;
	}
	.heroarea .text h1 {
		width: 281px;
		word-wrap: break-word;
		margin-left: 0px;
	}
	.heroarea p {
		font-size: 14px;
		line-height: 24px;
	}
	.heroarea .text p {
		width: 241px;
		word-wrap: break-word;
		margin-left: 0px;
	}
	.heroarea .text button {
		margin-left: 0px;
	}
	button {
		width: 100px;
		height: 48px;
	}
	.heroarea .img {
		display: block;
  		-webkit-box-sizing: border-box;
  		box-sizing: border-box;
		width: 343px;
		margin-top: 15px;
		height: 170px;
		text-align: center;
		overflow: hidden;
	}
	.heroarea img { 
		width: 70%;
		/*height: 150px;*/
		/*background: url(../img/hero-child-mobile.png) no-repeat;*/
	}
	.about {
		padding-top: 48px;
		padding-bottom: 30px;
		position: relative;
		overflow: hidden;
		height: 717px;
	}
	.about .text p {
		width: 230px;
		word-wrap: break-word;
		margin-left: 0px;
	}
	.about .text h2,.about .text hr {
		margin-left: 0px;
	}
	.about .text h2 {
		font-size: 18px;
		line-height: 0px;
		margin-top: 0px;
	}
	.about .text p {
		font-size: 14px;
		line-height: 24px;
		margin-top: 0px;
	}
	.about .img {
		text-align: center;
		overflow: hidden;
		margin-top: 15px;
	}
	.about img {
		width: 60%;
		text-align: center;
		margin-bottom: 20px;
	}
	.wwd {
		padding-top: 48px;
		height: 1900px;
		overflow: hidden;
	}
	.wwd .text h2, .wwd .text p{
		text-align: left;
	}
	.wwd .text p {
		width: 230px;
		word-wrap: break-word;
		margin-left: 0px;
	}
	.wwd .text h2 {
		font-size: 18px;
		line-height: 0px;
		margin-bottom: 20px;
	}
	.wwd .text p {
		font-size: 14px;
		line-height: 24px;
	}
	.wwd .text p {
		margin-top: 15px;
	}
	.wwd .text hr{
		margin-left: 0px;

	}
	.wwd .text h3 {
		font-size: 16px;
		line-height: 24px;
		margin-top: 30px;
	}
	.wwd .text h3, .hr-left hr {
		margin-left: 0px !important;
	}
	.wwd .wwd-img {
	margin-top: 30px;
	width: 100%;
	text-align: center;
	}
	.wwd .wwd-img img {
		width: 70%;
		margin-left: 0px;
	}
	.wwd .wwd-img .rightwwdtext img {
		width: 10.76px;
		height: 16px;
	}
	.wwd .wwd-img .span {
		/*max-width: 152.6px;*/
		width: 70%;;
		height: 35px;
		display: flex;
		margin: 0 auto;
		/*flex-direction: column;*/
		/*justify-content: center;*/
	}
	.wwd .wwd-img .span p {
		font-size: 10px;
		line-height: 14px;
		margin-top: 10px;
		margin-left: 5px;
	}
	.wwd .wwd-img .span .p3 span {
		position: relative;
		left: 30px;
	}
	.portfolio {
		height: 3820px;
		padding-top: 48px;
		margin-left: 0px;
		overflow: hidden;
	}
	.portfolio .text h2, .portfolio .text p {
		text-align: left;
		margin-left: 0px;
	}
	.portfolio .text h2 {
		font-size: 18px;
		line-height: 0px;
		margin-bottom: 20px;
	}
	.portfolio .text p {
		font-size: 14px;
		line-height: 24px;
		width: 240px;
		word-wrap: break-word;
		margin-top: 15px;
	}
	.portfolio .text hr {
		margin: 0px;
	}
	.portfolio-img {
		text-align: center;

	}
	.portfolio-img img {
		width: 70%;
		margin-top: 15px;
		margin-left: 0px;
	}
	.joml {
		padding-top: 48px;
		height: 570px;
		overflow: hidden;
	}
	.joml .text h2, .joml .text p{
		text-align: left;
		margin-left: 0px;
	}
	.joml .text h2 {
		font-size: 16px;
		line-height: 0px;
		margin-bottom: 20px;
	}
	.joml .text p {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 0px;
		width: 256px;
		word-wrap: break-word;
	}
	.joml .text hr {
		margin: 0px;
	}
	.joml .form input[type=text] {
		width: 250px;
		height: 48px;
	}
	.joml .form textarea {
		width: 250px;
		margin-top: 15px;
	}
	.joml .form button { 
		margin-top: 15px;
	}
	footer {
		height: 788px;
		padding-top: 48px;
		overflow: hidden;
	}
	footer h4, footer p {
	margin-left: 0px;
	}
	footer h4 {
		font-size: 14px;
		line-height: 24px;
	}
	footer p {
		width: 196px;
		word-wrap: break-word;
		font-size: 12px;
		line-height: 24px;
	}
	footer .list p {
		font-weight: bold;
		margin-top: 8px;
	}
	footer li {
		font-size: 12px;
		line-height: 24px;
		margin-top: 8px !important;

	}
	footer li a {
		margin-top: 8px;
	}
	footer .copyright {
		font-size: 12px;
		line-height: 24px
	}
	footer .copyright .img {
		text-align: left;
	}
}